.profile {
  &__mainContainer {
	color: white;
	background-color: $dark-bg;
  }
  
  &__header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2.4rem;
	text-align: center;
	gap: 2.4rem;
	
	> h1 {
	  font-size: 3.2rem;
	}
  }
  
  &__btn {
	font-weight: bold;
	width: fit-content;
	padding: 1rem;
	color: white;
	border-color: $green;
	background-color: $green;
  }
  
  &__accounts {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 3.2rem;
  }
  
  &__account-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	padding: 3.2rem 2.4rem;
	color: $dark-bg;
	background-color: white;
	@include mobile {
	  align-items: start;
	  flex-direction: column;
	  gap: 2.4rem;
	}
  }
}

.account {
  &__title {
	font-weight: 400;
  }
  
  &__amount {
	font-size: 4rem;
	font-weight: bold;
  }
  
  &__description {
	font-weight: 400;
  }
  
  &__btn {
	font-size: 1.8rem;
	width: 200px;
	@include mobile {
	  width: 100%;
	}
  }
}
