.features-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem;
  gap: 3%;
  @include mobile {
	align-items: center;
	flex-direction: column;
	margin-bottom: 3.2rem;
	gap: 3.2rem;
  }
}

.feature {
  &__item {
	width: 30%;
	margin-top: 3.2rem;
	text-align: center;
	@include mobile {
	  width: 80%;
	}
	
	> h3 {
	  font-size: 2.4rem;
	  margin-top: 2rem;
	}
	
	> p {
	  margin-top: 2rem;
	}
  }
  
  &__icon {
	box-sizing: content-box;
	width: 100px;
	padding: 2rem;
	border: solid 10px $green;
	border-radius: 100px;
  }
}
