.banner{
  position: relative;
  background-position: 0 -120px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-image: url("../../assets/img/bank-tree.jpeg");
  @include tablet{
	height: 400px;
  }
  @include mobile{
	height: 300px;
	background-size: auto;
	background-position: -300px -420px;
  }
  &__content{
	box-sizing: content-box;
	background: #fff;
	padding: 3.2rem;
	position: absolute;
	right: 7%;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	@include mobile{
	  right: 50%;
	  transform: translate(50% , -50%);
	}
	>h2{
	  font-size: 2.4rem;
	}
	>p{
	  margin-top: 2rem;
	}
  }
}
