.header{
  &__container{
	width: 100%;
	padding: 0.5rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  &__logo{
	width: 200px;
  }
  &__nav-container{
	display: flex;
	align-items: center;
	padding: 0.5rem;
	font-size: 1.6rem;
	text-decoration: none;
	color: $dark-green;
	font-weight: bold;
	>i{
	  margin-right: 0.5rem;
	}
  }
}
