.header {
  &__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.5rem 2rem;
  }
  
  &__user-container {
	display: flex;
	align-items: center;
	gap: 1.2rem;
  }
  
  &__logo {
	width: 200px;
  }
  
  &__nav-container {
	display: flex;
	align-items: center;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 0.5rem;
	text-decoration: none;
	color: $dark-green;
	
	> i {
	  margin-right: 0.5rem;
	}
	
	&--profile {
	  display: flex;
	  align-items: center;
	  gap: 1.6rem;
	}
	
  }
  
  &__userName {
	font-weight: bold;
  }
}
