.profile {
  &__mainContainer {
	color: white;
	background-color: $dark-bg;
  }
  
  &__header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2.4rem;
	text-align: center;
	gap: 2.4rem;
	
	> h1 {
	  font-size: 3.2rem;
	}
  }
  
  &__btn {
	font-weight: bold;
	width: fit-content;
	padding: 1rem;
	cursor: pointer;
	color: white;
	border-color: $green;
	background-color: $green;
  }
}

.notif {
  &__update {
	position: fixed;
	top: 10%;
	right: 2%;
	font-weight: 600;
	width: fit-content;
	padding: 0.8rem 1.6rem;
	animation: ease-out 0.3s;
	animation-name: appears;
	color: white;
	border-radius: 8px;
	background-color: $green;
  }
}

.notif__update.notif-error {
  background-color: #D54444;
}


@keyframes appears {
  from {
	opacity: 0;
  }
  
  to {
	opacity: 1;
  }
}
